[Desktop Entry]
Version=1.0
Name=Spotify
Comment=Spotify Music
Exec=brave-browser --app="https://open.spotify.com" --name=Spotify --class=Spotify
Terminal=false
Type=Application
Icon=spotify
Categories=AudioVideo;Music;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
